* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body, html {
     height: 100vh;
 }


 body {
     display: grid;
     grid-template-columns: auto 81%;
     grid-template-rows: 8% auto 10%;
    grid-template-areas: 
        "sidebar header"
        "sidebar contant"
        "sidebar footer";
 }

aside {
    grid-area: sidebar;
    background-color: #007fff;
}




